/* Variables */
:root {
    --accent: #0e7490;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --rose-700: #be123c;
    --slate-50: #f8fafc;
    --slate-200: #e2e8f0;
    --slate-800: #1e293b;
}

/* Utility Classes */

/* I got confused not sure what to put in the utility classes and what to put in the rest of the code */

/* Universal Styles */

body {
    color: var(--slate-800);
    font-family: "Open Sans", sans-serif;
    font-size: 1.25rem;
}

h1 {
    font-size: 1.65rem;
    font-weight: normal;
}

/* Header Styles */

header {
    background-color: var(--slate-50);
    border-bottom: 1px solid var(--slate-200);
    box-shadow: var(--box-shadow);
    padding: 0.5rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 5%;
}

.logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--slate-800);
    text-decoration: none;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-item {
    display: flex;
    align-items: center;
    margin-left: 24px;
    text-decoration: none;
    color: var(--slate-800);
    font-size: 1rem;
    position: relative;
}

.nav-item img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.notification-badge {
    position: absolute;
    top: -8px;
    left: 12px;
    background-color: var(--rose-700);
    color: white;
    font-size: 0.75rem;
    font-weight: bold;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Media Query */

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
    }

    .logo {
        margin-bottom: 30px;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .nav-item {
        margin: 15px 0;
        margin-left: 0;
        font-size: 1.125rem;
    }

    .nav-item img {
        width: 24px;
        height: 24px;
        margin-right: 12px;
    }

    .notification-badge {
        width: 22px;
        height: 22px;
        font-size: 0.875rem;
    }
}